// colors
// primary
$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 3%, 87%);
$darkGrayishViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);
$red: hsl(0, 100%, 66%);

$startColor:  hsl(249, 99%, 64%);
$endColor: hsl(278, 94%, 30%);

$borderLinearGradient: linear-gradient(to right, $startColor, $endColor);


@mixin label {
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    color: $veryDarkViolet;
    font-size: 12px;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    main {
        .header {
            position: relative;
            .card-back {
                position: absolute;
                top: 28px;
                left: 62px;
                width: 80%;
            }
            .card-front {
                position: absolute;
                top: 121px;
                left: 12px;
                width: 80%;
                box-shadow: 7px 23px 56px $darkGrayishViolet;
            }
            .card-logo {
                position: absolute;
                top: 143px;
                left: 27px;
                width: 15%;
            }
            .card-output {
                position: relative;
                color: $white;
                .card-number-output {
                    position: absolute;
                    bottom: 12px;
                    left: 27px;
                }
                .card-holder-name {
                    position: absolute;
                    bottom: -18px;
                    left: 27px;
                    text-transform: uppercase;
                    font-size: 10px;
                }
                .card-expiry {
                    position: absolute;
                    bottom: -18px;
                    right: 81px;
                    font-size: 10px;
                }
                .card-cvv {
                    position: absolute;
                    bottom: 130px;
                    right: 45px;
                    font-size: 10px;
                }

            }
            .desktop {
                display: none;
            }
        }
        form {
            margin-top: 3rem;
            padding: 1rem;
            .name, .card-number {
                label {
                    display: block;
                    @include label()
                }
                input {
                    padding: 0.7rem;
                    box-sizing: border-box;
                    width: 100%;
                    border: 1px solid $lightGrayishViolet;
                    border-radius: 5px;
                }
            }
            .card-dets{
                display: flex;
                .expiry-date {
                    label {
                        display: block;
                        @include label();
                    }
                    input {
                        width: 50%;
                        padding: 0.7rem;
                        border: 1px solid $lightGrayishViolet;
                        border-radius: 5px;
                    }
                    .numbers {
                        display: flex;
                    }
                    .month {
                        display: inline-block;
                    }
                    .year {
                        display: inline-block;
                    }
                }
                .cvv {
                    label {
                        display: block;
                        @include label();
                    }
                    input {
                        padding: 0.7rem;
                        border: 1px solid $lightGrayishViolet;
                        border-radius: 5px;
                    }
                }
            }
            .submit {
                width: 100%;
                box-sizing: border-box;
                margin-top: 1.5rem;
                margin-bottom: 3rem;
                padding: 0.9rem;
                background-color: $veryDarkViolet;
                color: $white;
                border: 1px solid $veryDarkViolet;
                border-radius: 8px;
                font-size: 0.8rem;
            }
            .success {
                padding-top: 3rem;
                display: none;
                img {
                    display: block;
                    margin: auto;
                }
                h1 {
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 0.2ch;
                    font-size: 2rem;
                    font-weight: 500;
                }
                p {
                    text-align: center;
                    color: $darkGrayishViolet;
                }
                button {
                    width: 100%;
                    box-sizing: border-box;
                    margin-top: 1.5rem;
                    margin-bottom: 3rem;
                    padding: 0.9rem;
                    background-color: $veryDarkViolet;
                    color: $white;
                    border: 1px solid $veryDarkViolet;
                    border-radius: 8px;
                    font-size: 0.8rem;
                }
            }
        }
    }
    @media screen and (min-width: 1440px) {
        main {
            input:hover, input:focus {
                cursor: pointer;
                border: 2px solid transparent;
                border-image: $borderLinearGradient 1;
            }
            display: grid;
            grid-template-columns: 1fr 2fr;
            .header {
                .card-front {
                    top: 231px;
                    left: 202px;
                    box-shadow: none;
                }
                .card-back {
                    top: 465px !important;
                    left: 285px;
                }
                .card-logo {
                    top: 256px;
                    left: 223px
                }
                .card-output {
                    .card-number-output {
                        bottom: 517px;
                        left: 226px;
                        font-size: 1.9rem;
                        width: 100%;
                    }
                    .card-holder-name {
                        bottom: 475px;
                        left: 226px;
                        font-size: 0.8rem;
                        width: 100%;
                    }
                    .card-expiry {
                        bottom: 475px;
                        left: 522px;
                        font-size: 0.8rem;
                        width: 100%;
                    }
                    .card-cvv {
                        bottom: 322px;
                        left: 600px;
                        font-size: 14px;
                }
                }
                .desktop {
                    display: block;
                }
                .mobile {
                    display: none;
                }
            }
            form {
                margin: 0;
                padding: 18rem;
                .name, .card-number {
                    input {
                        margin-bottom: 0.5rem;
                        padding: 0.9rem;
                        font-size: 1rem;
                    }
                }
                .card-dets {
                    margin-bottom: 0.5rem;
                    input {
                        padding: 0.9rem;
                        font-size: 1rem;
                    }
                }
            }
            .error {
                font-size: 12px !important;
            }
        }
    }
}

.has-error {
    input {
       border: 1px $red solid !important;
   }
   .error {
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: $red;
    font-size: 10px;
    height: 13px;
   }
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}